<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envios</title>
</head>
<body>
    
    {% extends "AppSanta/padre.html" %} 

    {% load static %}

    {% block contenidoQueCambia %}

           <!-- Contact-->
           <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">ENVÍOS SANTA INÉS</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5">Logueate, llená tu carrito y disfrutá  de un rico Santa Inés !</p>
                             Realizamos envíos a todo el país.</p>

                        <a class="btn btn-light btn-xl" href="{% url 'leerProducto'%}">VER/MODIFICAR PEDIDO</a>    
                    </div>

                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi-phone fs-2 mb-3 text-muted"></i>
                        <div>+54 (2364)562179 </div>
                    </div>
                </div>
            </div>
        </section>   
    
       {% endblock %}
</body>
</html>